

.app {
    display: flex;
   top:65px
  }
  
  .app .sidebar {
    width: 200px;
    height: 100vh;
    background-color: black;
    color: white;
    transition: transform 0.5s ease;
    transform: translateX(-200px);
  }
  
  .app .sidebar.open {
    transform: translateX(0);
  }

.header-title {
   height: 60px;

    display: block; 
  }

  @media (max-width: 600px) {
    .header-title {
      display: none; /* Show the component when screen size is greater than 600px */
    }
  }  
  
  
  