.home {
    
    width: 100vw;
   background-color: rgb(219, 214, 214); 
   margin-top: 0px;
}
.app {
  position: fixed;
  max-width: 200px;
  margin-top: -20px;
  z-index: 1001;
  display: block;
}
.app2 {
  position: fixed;
  max-width: 0px;
  display: none;
  z-index: 1001;
}
.top-header {
    margin-top: 70px;
margin-left: 4px;

}
.manifest-info {
    width: 47vw;
    max-width: 400px;
    min-height: 982px;
}
.cards {
    width: 97.2vw;
}
.manifest-info2 {
   background-color: transparent;
    flex-grow: 1;
    min-width: 200px;
    max-width: 100vw;
    height: 98%;
}
.centered-container {
    display: flex;
    width: 100%;
    
    height: 100%; /* Make it full height of the viewport */
  }
  
  .centered-content {
    width: 80%; /* Adjust the width of the content */
  }
.charts {
    width: 30%;
}
 .second-cards-body {
  width: 40%;
  flex-basis: 40%;
  height: 45%;
background-color: white;
border-radius: 10px;

box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 } 
 .bacchart {
  position: relative;
  z-index: 1000;
  width: 100%;
  right: 0;
  overflow: hidden;
 }
@media (max-width: 850px) {
  .manifest-info {
   
    min-height: 92px;
}
    .charts {
        width: 0%;
    }
      
    .item {
      width: 95vw; 
    }
  
    .manifest-info {
        width: 99vw;
        max-width: 95vw;
    }
    .cards {
        width: 95vw;
    }
  }

  @media (min-width: 1000px) {
    .manifest-insfo2 {
       max-width: 65vw;
    }
    .item {
      width: 100%; /* Make items take full width on smaller screens */
    }
    .manifest-info {
        width: 48vw;
    }
  }  

  