.top-header {
    margin-top: 15px;
margin-left: 14px;
width:100vw
}

/* styles.css */
.custom-header {
    font-family: Arial, sans-serif; /* Change font family */
    font-size: 18px; /* Change font size */
    font-weight: bold; /* Change font weight */
    color: black; /* Change font color */
    outline: "none !important",
   
  }
.custom-header:focus-within, .custom-header:focus {
   outline: 2px solid #FFA500;
   border: 2px solid #FFA500;
   outline: "none !important",
}
/* styles.css */
.selected-row {
    border: 2px solid #FFA500; /* Change border color */
  }
  
  